.title{
    font-size: 6vw;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
    width: 100%;
}